<form class="example-form">
    <h1>Bejelentkezés</h1>
    <mat-form-field class="example-full-width">
        <label>Email address</label>
        <input type="email" id="email" name="email" matInput [(ngModel)]="email" placeholder="Ex. pat@example.com" autocomplete="email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <label>Password</label>
        <input type="password" id="password" name="password" matInput [(ngModel)]="password" placeholder="Password" autocomplete="new-password">
    </mat-form-field>
    <br>
    <button mat-button (click)="login()">Bejelentkezés</button>
</form>