<!--
  <button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <div class="horizontal-menu-items">
      <button mat-menu-item>
        <label>Regisztráció</label>
      </button>
      <button mat-menu-item>
        <label>Bejelentkezés</label>
      </button>
    </div>
  </mat-menu>
-->

<mat-button-toggle-group name="fontStyle">
  <mat-button-toggle>Bold</mat-button-toggle>
  <mat-button-toggle>Italic</mat-button-toggle>
  <mat-button-toggle>Underline</mat-button-toggle>
</mat-button-toggle-group>