<div class="card mb-4" *ngFor="let advertisment of advertisments">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{advertisment.title}}</mat-card-title>
        </mat-card-header>
        <app-lightbox [images]="advertisment.images"></app-lightbox>
        <img src="http://localhost:3000/uploads/nopic.png">
        <mat-card-content>
          <ul>
            <li class="list-group-item text-center">Dátum: {{advertisment.date}}</li>
            <li class="list-group-item text-center">Leírás: {{advertisment.description}}</li>
            <li class="list-group-item text-center">Ár: {{advertisment.price}}</li>
          </ul>
        </mat-card-content>
    </mat-card>
</div>