<div class="auto">
  <h1>Hirdetések</h1>

  <mat-form-field>
    <select matNativeControl (change)="selectCar($event)">
      <option *ngFor="let option of cars" [value]="option.value" [selected]="selectedCar === option.value">
        {{ option.viewValue }}
      </option>
    </select>
  </mat-form-field>
</div>

<div class="box">
  <!-- Ha nincsenek hirdetések, akkor egy üzenet jelenik meg -->
  <div *ngIf="filteredAdvertisements.length === 0">
    Nincsenek hirdetések a kiválasztott kategóriában.
  </div>

  <div class="card mb-4" *ngFor="let advertisment of filteredAdvertisements">
    <mat-card class="example-card">
      <mat-card-header class="cim">
        <mat-card-title><h1>{{ advertisment.title }}</h1></mat-card-title>
      </mat-card-header>
      <app-lightbox [images]="advertisment.images"></app-lightbox>
      <div class="kep">
        <img src="http://localhost:3000/uploads/nopic.png" />
      </div>
      <mat-card-content>
        <ul>
          <li class="list-group-item text-center"> Name: Dudas</li>
          <hr />
          <li class="list-group-item text-center"> Kategóra: {{ advertisment.categoryID }}</li>
          <hr />
          <li class="list-group-item text-center">Dátum: {{ advertisment.date | date: 'yyyy-MM-dd' }}</li>
          <hr />
          <li class="list-group-item text-center">Leírás: <br />{{ advertisment.description }}</li>
          <hr />
          <li class="list-group-item text-center">Ár: {{ advertisment.price }} Ft</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
