.example-form {
  width: 100%;
  text-align: center;
}
  
.example-full-width {
  line-height: 30px;
}

.label {
  font-size: 16px;
  padding: 0 5px;
}

button{
  border: 1px solid black;
}

h1{
  padding: 20px;
}