.upload{
  display: flex;
  
  overflow:auto;
  border: 1px solid rgba(210, 210, 210, 0.40);
  color: rgb(210, 210, 210);
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  width: 350px;
  background-color:  rgba(15, 15, 15, 0.5);
  flex-direction: column;
  width: 700px;
  max-height: 500px;
  height: auto;
}
.data{
  display: flex;
  flex-direction:row;
}
.tbox{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.dbox{
  width: 400px;
  display: flex;
  flex-direction: column;
}
mat-label{
  padding-bottom: 40px;
  padding-right: 20px;
}
mat-form-field{
  
  padding-top: 10px;
  height: auto;
}
button{
  color: rgb(210, 210, 210);
  padding: 10px;
  margin:10px;
  border-radius: 5px;
  background-color: navy;
  border: 0px solid black;
}
option{

  background-color:  rgba(15, 15, 15, );
  
}

.example-h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.example-margin {
  margin: 8px;
}

.example-width {
  max-width: 180px;
  width: 100%;
}

.mat-mdc-slider {
  max-width: 300px;
  width: 100%;
}

.mat-mdc-card + .mat-mdc-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}


